@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&family=Space+Grotesk:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-tech-bg text-tech-text font-sans antialiased overflow-hidden;
        /* Prevent body scroll */
    }
}

@layer utilities {
    .font-grotesk {
        font-family: 'Space Grotesk', sans-serif;
    }

    .drag {
        -webkit-app-region: drag;
    }

    .no-drag {
        -webkit-app-region: no-drag;
    }

    /* Custom Scrollbar */
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.02);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(255, 87, 0, 0.2);
        border-radius: 0px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 87, 0, 0.4);
    }

    /* Animated ellipsis */
    .animate-dots::after {
        content: '';
        animation: dots 1.5s steps(4, end) infinite;
    }

    @keyframes dots {

        0%,
        20% {
            content: '';
        }

        40% {
            content: '.';
        }

        60% {
            content: '..';
        }

        80%,
        100% {
            content: '...';
        }
    }
}